.success-rate {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 30px;
    border-radius: 12px;
    background: #f5f5f5;
    &-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-title {
        color: #092bc8;
        font-family: Poppins;
        font-size: 21px;
        font-style: normal;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 1.05px;
    }
    .dropdown-section {
        .dropdown-toggle {
            background-color: #fff;
        }
    }
    &-tabs {
        justify-content: center;
        border-bottom: 0;
        column-gap: 11px;
        .nav-link {
            width: 21px;
            height: 19px;
            border-radius: 21px;
            background: #d9d9d9;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            font-family: Poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            &.active {
                background: #a4e6e7;
            }
        }
    }
    &-content {
        .chart-col {
            width: 209px;
            height: 248px;
            @include mq(tablet-portrait-up) {
                width: 100%;
            }
            a {
                text-decoration: none;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            canvas {
                @include mq(tablet-portrait-up) {
                    width: 209px !important;
                    height: 209px !important;
                }
            }
            .chart-title {
                color: #092bc8;
                text-align: center;
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 31px;
                letter-spacing: 0.9px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 200px; /* Başlık genişliğini sınırlandır */
                display: inline-block;
                cursor: pointer;
            }
        }
        .tab-panel-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include mq(tablet-portrait-up) {
                flex-direction: column-reverse;
            }
            .row {
                &.chart-row {
                    width: 100%;
                    max-width: 900px;
                    @include mq(tablet-portrait-up) {
                        row-gap: 24px;
                    }
                }
                &.chart-legend-row {
                    @include mq(tablet-portrait-up) {
                        width: 100%;
                    }
                    .chart-legends {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        column-gap: 30px;
                        @include mq(tablet-portrait-up) {
                            flex-direction: column;
                            padding: 0;
                        }
                    }
                    .chart-legend {
                        color: #757575;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 25px;
                        letter-spacing: 0.7px;
                        display: flex;
                        align-items: center;
                        column-gap: 7px;
                        &::before {
                            content: "";
                            width: 11px;
                            height: 11px;
                            border-radius: 11px;
                        }
                        &.green {
                            &::before {
                                background-color: #00bb4a;
                            }
                        }
                        &.red {
                            &::before {
                                background-color: #ff0019;
                            }
                        }
                        &.grey {
                            &::before {
                                background-color: #c1c1c1;
                            }
                        }
                    }
                }
            }
        }
    }
}
.chart-title-tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1000;
  }