.landing-section-1 {
    padding: 120px 0;
    &__header {
    }
    &__subtitle {
        color: #000;
        font-family: Poppins;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 8px;
    }
    &__title {
        color: #000;
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @include mq(tablet-landscape-up) {
            font-size: 26px;
        }
    }
    &__hr {
        position: relative;
        @include mq(tablet-landscape-up) {
            width: calc(100% - 40px);
        }
        @include mq(tablet-portrait-down) {
            width: calc(50% - 100px);
        }
        hr {
            border: none;
            height: 2px;
            background-color: #394ff3;
            &::after {
                content: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAyNCAxMiIgZmlsbD0ibm9uZSI+CiAgPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzEzXzEwKSI+CiAgICA8cGF0aCBkPSJNMTcuNDIgMi40NTE5OUwxOC40OCAzLjUxMjk5TDEyLjcwMyA5LjI5MTk5QzEyLjYxMDQgOS4zODUxNCAxMi41MDA0IDkuNDU5MDcgMTIuMzc5MSA5LjUwOTUyQzEyLjI1NzkgOS41NTk5NyAxMi4xMjc4IDkuNTg1OTQgMTEuOTk2NSA5LjU4NTk0QzExLjg2NTIgOS41ODU5NCAxMS43MzUxIDkuNTU5OTcgMTEuNjEzOSA5LjUwOTUyQzExLjQ5MjYgOS40NTkwNyAxMS4zODI2IDkuMzg1MTQgMTEuMjkgOS4yOTE5OUw1LjUwOTk5IDMuNTEyOTlMNi41Njk5OSAyLjQ1Mjk5TDExLjk5NSA3Ljg3Njk5TDE3LjQyIDIuNDUxOTlaIiBmaWxsPSIjMDRDMkM0Ii8+CiAgPC9nPgogIDxkZWZzPgogICAgPGNsaXBQYXRoIGlkPSJjbGlwMF8xM18xMCI+CiAgICAgIDxyZWN0IHdpZHRoPSIxMiIgaGVpZ2h0PSIyNCIgZmlsbD0id2hpdGUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI0KSByb3RhdGUoOTApIi8+CiAgICA8L2NsaXBQYXRoPgogIDwvZGVmcz4KPC9zdmc+Cg==");
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 2px solid #394ff3;
                position: absolute;
                right: -40px;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__img {
        @include mq(tablet-landscape-up) {
            width: 58.33333333%;
        }
        &:nth-child(2) {
            @include mq(tablet-landscape-up) {
                width: 41.66666667%;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            @include mq(tablet-landscape-up) {
                min-height: 268px;
            }
        }
    }
    &__desc {
        color: #4c4c4c;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 1.2px;
        margin-bottom: 40px;
    }
    .row {
        &:nth-child(2) {
            margin-top: 50px;
            @include mq(tablet-landscape-up) {
                margin-top: 40px;
                row-gap: 40px;
            }
        }
    }
}
