.breadcrumb {
    ul {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        li {
            list-style: none;
            color: #fff;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            &::after {
                content: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='12' viewBox='0 0 6 12' fill='none'%3E%3Cpath d='M1.16458 1.07083L5.72812 5.62084C5.78228 5.675 5.82056 5.73368 5.84295 5.79688C5.8657 5.86007 5.87708 5.92778 5.87708 6C5.87708 6.07222 5.8657 6.13993 5.84295 6.20313C5.82056 6.26632 5.78228 6.325 5.72812 6.37917L1.16458 10.9427C1.03819 11.0691 0.880201 11.1323 0.690618 11.1323C0.501034 11.1323 0.338534 11.0646 0.203117 10.9292C0.0677009 10.7938 -7.58599e-06 10.6358 -7.5702e-06 10.4552C-7.55442e-06 10.2747 0.067701 10.1167 0.203117 9.98125L4.18437 6L0.203118 2.01875C0.0767296 1.89236 0.0135349 1.73672 0.0135349 1.55183C0.0135349 1.36658 0.0812434 1.20625 0.21666 1.07083C0.352076 0.935418 0.510063 0.867709 0.690618 0.867709C0.871174 0.867709 1.02916 0.935418 1.16458 1.07083Z' fill='white'/%3E%3C/svg%3E");
                margin: 0 8px;
            }
            &:last-child {
                &::after {
                    content: "";
                }
            }
            a {
                text-decoration: none;
            }
        }
    }
}
