.btn-style-1 {
    border: 2px solid #394ff3;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: fit-content;
    transition: all 0.3s;
    div {
        width: 33.78px;
        height: 33.78px;
        border-radius: 50%;
        background-color: #394ff3;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
    }
    &:hover {
        background-color: #394ff3;
        color: #fff;
        transition: all 0.3s;
        div {
            background-color: #fff;
            transition: all 0.3s;
            svg {
                path {
                    fill: #394ff3;
                    transition: all 0.3s;
                }
            }
        }
    }
}
.btn-back {
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    background: #d9d9d9;
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    &:hover {
        background: #d9d9d9;
        color: #fff;
    }
    @include mq (tablet-portrait-up) {
        width: 100%;
        font-size: 16px;
    }
}
.btn-style-2 {
    display: flex;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    background: #394ff3;
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    &:hover {
        background: #394ff3;
        color: #fff;
    }
    @include mq (tablet-portrait-up) {
        width: 100%;
        font-size: 16px;
    }
}
