.children-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    position: relative;
    @include mq(tablet-portrait-up) {
        display: none;
    }
    @include mq(tablet-landscape-up) {
        margin-left: 20px;
    }
    &-mb {
        @include mq(tablet-portrait-up) {
            display: flex;
            margin-right: 0;
            margin-top: 15px;
        }
        @include mq(tablet-portrait-down) {
            display: none;
        }
    }
    &:active,
    &:focus,
    &:focus-visible {
        border: none;
        outline: none;
        box-shadow: none;
    }
    .dropdown-menu {
        min-width: 76px;

        transform: translate3d(0px, 58.2px, 0px) !important;
    }

    .dropdown-toggle {
        display: flex;
        align-items: center;
        outline: none;
        padding: 0;
        &:active,
        &:focus,
        &:focus-visible {
            border: none;
            outline: none;
            box-shadow: none;
        }
        &::after {
            content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDI0IDEzIiBmaWxsPSJub25lIj4KICA8ZyBjbGlwLXBhdGg9InVybCgjY2xpcDBfMjIwNV84MzcwKSI+CiAgICA8cGF0aCBkPSJNMTcuNDE5OCAyLjk1MTk5TDE4LjQ3OTggNC4wMTI5OUwxMi43MDI4IDkuNzkxOTlDMTIuNjEwMiA5Ljg4NTE0IDEyLjUwMDEgOS45NTkwNyAxMi4zNzg5IDEwLjAwOTVDMTIuMjU3NiAxMC4wNiAxMi4xMjc2IDEwLjA4NTkgMTEuOTk2MyAxMC4wODU5QzExLjg2NDkgMTAuMDg1OSAxMS43MzQ5IDEwLjA2IDExLjYxMzcgMTAuMDA5NUMxMS40OTI0IDkuOTU5MDcgMTEuMzgyMyA5Ljg4NTE0IDExLjI4OTggOS43OTE5OUw1LjUwOTc3IDQuMDEyOTlMNi41Njk3NyAyLjk1Mjk5TDExLjk5NDggOC4zNzY5OUwxNy40MTk4IDIuOTUxOTlaIiBmaWxsPSJibGFjayIvPgogIDwvZz4KICA8ZGVmcz4KICAgIDxjbGlwUGF0aCBpZD0iY2xpcDBfMjIwNV84MzcwIj4KICAgICAgPHJlY3Qgd2lkdGg9IjEyIiBoZWlnaHQ9IjI0IiBmaWxsPSJ3aGl0ZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjQgMC41KSByb3RhdGUoOTApIi8+CiAgICA8L2NsaXBQYXRoPgogIDwvZGVmcz4KPC9zdmc+");
            border-right: 0;
            border-left: 0;
            border-bottom: 0;
            border-top: 0;
        }
    }
    .dropdown-item {
        display: flex;
        align-items: center;
        &:active {
            background-color: #fff;
        }
    }

    button {
        &:focus,
        &:focus-visible {
            outline: none;
            border: none;
        }
    }
    &-inner {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &-avatar {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e8e8e8;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        &-inner {
            color: #777;
            text-align: center;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 23px;
        }
    }
    &-name {
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0.8px;
        margin-left: 8px;
        margin-right: 5px;
        user-select: none;
    }
    &-dropdown {
        position: absolute;
        top: 56px;
        left: 0;
        border-radius: 8px;
        background: #fff;
        padding: 10px;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
        display: none;
        transition: all 0.3s;
        &.active {
            display: block;
            transition: all 0.3s;
        }
        &-list {
            padding-left: 0;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            &-item {
                display: flex;
                align-items: center;
            }
        }
        &-avatar {
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e8e8e8;
            border-radius: 999px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            &-inner {
                color: #777;
                text-align: center;
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 23px;
            }
        }
        &-name {
            color: #000;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0.8px;
            margin-left: 8px;
            max-width: 70%;
            user-select: none;
        }
    }
}

.children-profiles {
    margin-top: 40px;
    &-container {
        .row {
            row-gap: 24px;
            .custom-radio-card {
                position: relative;
                .card {
                    height: 135px;
                    &-section-left {
                        width: 42%;
                        height: 100%;
                        position: relative;
                        padding: 17.5px;
                        border-radius: 12px 0px 0px 12px;
                        border: 0.2px solid #838383;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .card-status-symbol {
                            position: absolute;
                            top: 8px;
                            left: 8px;
                            width: 19px;
                            height: 19px;
                            border: 2px solid #04c2c4;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &::after {
                                content: "";
                                position: relative;
                                width: 11px;
                                height: 11px;
                                background-color: #04c2c4;
                                border-radius: 50%;
                                display: none;
                            }
                        }
                        img {
                            width: 90px;
                            max-width: 90px;
                            border-radius: 50%;
                            overflow: hidden;
                            object-fit: cover;
                        }
                    }
                    &-section-right {
                        width: 58%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border-radius: 0px 12px 12px 0px;
                        background: #04c2c4;
                        padding: 20px 18px 20px 10px;
                        &-title {
                            color: #fff;
                            font-family: Raleway;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 31px;
                            letter-spacing: 0.9px;
                            margin-bottom: 0;
                        }
                        &-subtitle {
                            color: #fff;
                            font-family: Raleway;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 31px;
                            letter-spacing: 0.7px;
                            margin-bottom: 0;
                        }
                        &-desc {
                            color: #ececec;
                            font-family: Raleway;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 31px;
                            letter-spacing: 0.7px;
                            margin-bottom: 0;
                        }
                    }
                }
                input {
                    position: absolute;
                    opacity: 0;
                }
                display: block;
                cursor: pointer;

                input[type="radio"]:checked + .card {
                    .card-status-symbol::after {
                        display: block;
                    }
                }
            }
        }
    }
    &.parent-profile-children-profiles {
        @include mq(tablet-portrait-down) {
            display: none;
        }
    }
}
