.main-header {
    width: 100%;
    margin-top: 25px;
    .hamburger-menu {
        cursor: pointer;
        width: fit-content;
        margin-right: auto;
        @include mq(tablet-landscape-down) {
            display: none;
        }
    }
    .container {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    .profile-picture {
        margin-left: 14px;        
        user-select: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }
    }
    .notification-block {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 14px;
    }
}