.password-group {
    position: relative;
    .form-control {
        padding-right: 46px;
    }
    .password-to-text {
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);
        cursor: pointer;
        img {
            width: 18px;
            height: 18px;
        }
    }
}