@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:wght@100..900&display=swap");
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-medium {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.raleway-semibold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.landing-navbar {
  padding: 16px 0;
}
@media only screen and (max-width: 992px) {
  .landing-navbar .container {
    padding: 0 16px;
  }
}
.landing-navbar .login-btn {
  width: 118px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #04c2c4;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.landing-navbar .navbar-nav {
  -moz-column-gap: 35px;
       column-gap: 35px;
}
@media only screen and (max-width: 992px) {
  .landing-navbar .navbar-toggler {
    padding: 0;
  }
}
.landing-navbar .navbar-toggler:focus {
  box-shadow: none;
}
@media only screen and (max-width: 992px) {
  .landing-navbar .navbar-collapse {
    order: 3;
  }
}
.landing-navbar .btn-group {
  order: 3;
}
@media only screen and (max-width: 992px) {
  .landing-navbar .btn-group {
    order: 1;
  }
}
.landing-navbar .nav-link {
  color: #000;
  font-size: 16px;
}

.lang-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lang-dropdown .dropdown-menu {
  min-width: 76px;
}
.lang-dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
  outline: none;
}
.lang-dropdown .dropdown-toggle:active, .lang-dropdown .dropdown-toggle:focus {
  border: none;
}
.lang-dropdown .dropdown-item {
  display: flex;
  align-items: center;
}
.lang-dropdown .flag-icon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin-right: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lang-dropdown .flag-icon img {
  width: 100%;
  height: 100%;
}

.landing-header {
  width: 100%;
}
.landing-header .container-fluid {
  height: 100%;
  max-height: 600px;
  height: 600px;
  min-height: 600px;
  overflow: hidden;
}
.landing-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.landing-header .overlay {
  background-color: rgba(0, 0, 0, 0.6980392157);
}
@media only screen and (max-width: 992px) {
  .landing-header .overlay .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.landing-header .overlay h1 {
  max-width: 916px;
  color: #fff;
  font-family: Raleway;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
@media only screen and (max-width: 992px) {
  .landing-header .overlay h1 {
    width: 100%;
    font-size: 32px;
    margin-bottom: 21px;
    text-align: center;
  }
}
.landing-header .overlay p {
  color: #fff;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media only screen and (max-width: 992px) {
  .landing-header .overlay p {
    text-align: center;
  }
}
.landing-header .overlay a {
  color: #fff;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #04c2c4;
  padding: 10px 30px;
  margin-top: 64px;
}
@media only screen and (max-width: 992px) {
  .landing-header .overlay a.btn-lg {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .landing-header .overlay a.btn-sm {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */