@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:wght@100..900&display=swap");
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-medium {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.raleway-semibold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.btn-style-1 {
  border: 2px solid #04c2c4;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.3s;
}
.btn-style-1 div {
  width: 33.78px;
  height: 33.78px;
  border-radius: 50%;
  background-color: #04c2c4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.btn-style-1:hover {
  background-color: #04c2c4;
  color: #fff;
  transition: all 0.3s;
}
.btn-style-1:hover div {
  background-color: #fff;
  transition: all 0.3s;
}
.btn-style-1:hover div svg path {
  fill: #04c2c4;
  transition: all 0.3s;
}

.landing-navbar {
  padding: 16px 0;
}
@media only screen and (max-width: 992px) {
  .landing-navbar .container {
    padding: 0 16px;
  }
}
.landing-navbar .login-btn {
  width: 118px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #04c2c4;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.landing-navbar .navbar-nav {
  -moz-column-gap: 35px;
       column-gap: 35px;
}
@media only screen and (max-width: 992px) {
  .landing-navbar .navbar-toggler {
    padding: 0;
  }
}
.landing-navbar .navbar-toggler:focus {
  box-shadow: none;
}
@media only screen and (max-width: 992px) {
  .landing-navbar .navbar-collapse {
    order: 3;
  }
}
.landing-navbar .btn-group {
  order: 3;
}
@media only screen and (max-width: 992px) {
  .landing-navbar .btn-group {
    order: 1;
  }
}
.landing-navbar .nav-link {
  color: #000;
  font-size: 16px;
}

.lang-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lang-dropdown .dropdown-menu {
  min-width: 76px;
}
.lang-dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
  outline: none;
}
.lang-dropdown .dropdown-toggle:active, .lang-dropdown .dropdown-toggle:focus {
  border: none;
}
.lang-dropdown .dropdown-item {
  display: flex;
  align-items: center;
}
.lang-dropdown .flag-icon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin-right: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lang-dropdown .flag-icon img {
  width: 100%;
  height: 100%;
}

.landing-header {
  width: 100%;
}
.landing-header .container-fluid {
  height: 100%;
  max-height: 600px;
  height: 600px;
  min-height: 600px;
  overflow: hidden;
}
.landing-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.landing-header .overlay {
  background-color: rgba(0, 0, 0, 0.6980392157);
}
@media only screen and (max-width: 992px) {
  .landing-header .overlay .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.landing-header .overlay h1 {
  max-width: 916px;
  color: #fff;
  font-family: Raleway;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
@media only screen and (max-width: 992px) {
  .landing-header .overlay h1 {
    width: 100%;
    font-size: 32px;
    margin-bottom: 21px;
    text-align: center;
  }
}
.landing-header .overlay p {
  color: #fff;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media only screen and (max-width: 992px) {
  .landing-header .overlay p {
    text-align: center;
  }
}
.landing-header .overlay a {
  color: #fff;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #04c2c4;
  padding: 10px 30px;
  margin-top: 64px;
}
@media only screen and (max-width: 992px) {
  .landing-header .overlay a.btn-lg {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .landing-header .overlay a.btn-sm {
    display: none;
  }
}

.landing-section-1 {
  padding: 120px 0;
}
.landing-section-1__subtitle {
  color: #000;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
.landing-section-1__title {
  color: #000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media only screen and (max-width: 992px) {
  .landing-section-1__title {
    font-size: 26px;
  }
}
.landing-section-1__hr {
  position: relative;
}
@media only screen and (max-width: 992px) {
  .landing-section-1__hr {
    width: calc(100% - 40px);
  }
}
@media only screen and (min-width: 768px) {
  .landing-section-1__hr {
    width: calc(50% - 100px);
  }
}
.landing-section-1__hr hr {
  border: none;
  height: 2px;
  background-color: #04c2c4;
}
.landing-section-1__hr hr::after {
  content: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAyNCAxMiIgZmlsbD0ibm9uZSI+CiAgPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzEzXzEwKSI+CiAgICA8cGF0aCBkPSJNMTcuNDIgMi40NTE5OUwxOC40OCAzLjUxMjk5TDEyLjcwMyA5LjI5MTk5QzEyLjYxMDQgOS4zODUxNCAxMi41MDA0IDkuNDU5MDcgMTIuMzc5MSA5LjUwOTUyQzEyLjI1NzkgOS41NTk5NyAxMi4xMjc4IDkuNTg1OTQgMTEuOTk2NSA5LjU4NTk0QzExLjg2NTIgOS41ODU5NCAxMS43MzUxIDkuNTU5OTcgMTEuNjEzOSA5LjUwOTUyQzExLjQ5MjYgOS40NTkwNyAxMS4zODI2IDkuMzg1MTQgMTEuMjkgOS4yOTE5OUw1LjUwOTk5IDMuNTEyOTlMNi41Njk5OSAyLjQ1Mjk5TDExLjk5NSA3Ljg3Njk5TDE3LjQyIDIuNDUxOTlaIiBmaWxsPSIjMDRDMkM0Ii8+CiAgPC9nPgogIDxkZWZzPgogICAgPGNsaXBQYXRoIGlkPSJjbGlwMF8xM18xMCI+CiAgICAgIDxyZWN0IHdpZHRoPSIxMiIgaGVpZ2h0PSIyNCIgZmlsbD0id2hpdGUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI0KSByb3RhdGUoOTApIi8+CiAgICA8L2NsaXBQYXRoPgogIDwvZGVmcz4KPC9zdmc+Cg==");
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #04c2c4;
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 992px) {
  .landing-section-1__img {
    width: 58.33333333%;
  }
}
@media only screen and (max-width: 992px) {
  .landing-section-1__img:nth-child(2) {
    width: 41.66666667%;
  }
}
.landing-section-1__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media only screen and (max-width: 992px) {
  .landing-section-1__img img {
    min-height: 268px;
  }
}
.landing-section-1__desc {
  color: #4c4c4c;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 1.2px;
  margin-bottom: 40px;
}
.landing-section-1 .row:nth-child(2) {
  margin-top: 50px;
}
@media only screen and (max-width: 992px) {
  .landing-section-1 .row:nth-child(2) {
    margin-top: 40px;
    row-gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */