.help-center {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    &-container {
        width: 100%;
    }

    &-row {
        margin-top: 56px;
        row-gap: 50px;
        align-items: stretch;
        @include mq(tablet-portrait-up) {
            row-gap: 24px;
        }
        a {
            text-decoration: none;
        }
        .card {
            padding: 20px;
            height: 100%;
            border-radius: 8px;
            background: #fff;
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            &-icon {
                width: 44px;
                height: 44px;
                img {
                    width: 100%;
                }
            }
            &-title {
                color: #092BC8;
                font-family: Poppins;
                font-size: 21px;
                font-style: normal;
                font-weight: 500;
                line-height: 31px;
                letter-spacing: 1.05px;
                margin-bottom: 0;
            }
        }
    }
}
